body{
  font-family: 'Alef';
  background-color: white;
  margin:0;
  padding: 0;

}

.atras {
  float: right;
  margin: 20px;
  font-size: 18px;
}

.select {
  font-size: 20px;
}

.incorrecto{
  color: red;
  margin-bottom: 20px;
  font-size: 18px;
}

input{
  padding: 10px;
  border: none;
  border-bottom: solid 1px #0277bd;
}

.button {
  background-color: #0277bd;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
}

.button:hover {
  background-color: #004c8c;
  transition: 0.3s;
}

.top-bar{
  position: fixed;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: #0277bd;
  color: white;
  list-style-type: none;
  margin-top: 0;
  padding: 0 10px 0 10px;
  align-items: center;
  text-align: center;
}

.top-bar img {
  margin-top: 0;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 70px;
  width: auto;
}

.top-bar .cerrar-sesion{
  margin-right: 20px;
  text-decoration: none;
  color: white;
}

.top-bar a:hover{
  color: #e0f2f1;
  font-weight: 400;
  transition: 0.2s;
}

.titulo{
  cursor: pointer;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

/* ---------------  REGISTRO  -------------- */

.registro{
  padding-top: 70px;
  padding-left: 50px;
}

.registro h2{
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 1em;
}

.registro p{
  font-size: 14px;
  width: 25%;
}

.registro__flex{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.registro__flex p{
  margin-bottom: 0;
  margin-right: 4em;
}

.registro__tel{
  margin-bottom: 2em;
}

.registro__user{
  margin-bottom: 1em;
}

.registro input{
  width: 100%;
}

.registro .button{
  width: 200px;
}

input:focus{
  border:none;
  border-bottom: solid 3px #0277bd;
}

.familiares p{
  width: 50%;
}

.monto{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.solicitud__background{
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e0f2f1;
  padding-top: 70px;
}

.solicitud__text{
  background: white;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: 0px 0px 35px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 35px -9px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 35px -9px rgba(0,0,0,0.75);
}

.link{
  font-weight: 900;
  color: blue;
  cursor: pointer;
}

/* --------------- LOGIN --------------- */


.login-div{
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  background: #e0f2f1;
  padding-top: 70px;
}
.login{
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  display: flex;
  justify-content: center;
  -webkit-box-shadow: 0px 0px 35px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 35px -9px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 35px -9px rgba(0,0,0,0.75);
}

.login__form{
  background: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__form p{
  width: 60%;
}

.login__input{
  width: 96%;
}

.login__buttons{
  margin-top: 3em;
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-bottom: 3em;
}

.registrarse{
  background: #009688;
}

.registrarse:hover{
  background: #00675b;
}

/* ---------- CARATULA ---------- */

.caratula{
  padding-top: 70px;
  background-color: #e0f2f1;
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.caratula__contenido{
  background-color: white;
  min-width: 70%;
  -webkit-box-shadow: 0px 0px 35px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 35px -9px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 35px -9px rgba(0,0,0,0.75);
}

.caratula__header{
  background: #009688;
  padding: 10px;
  color: white;
  top: 0;
  display: flex;
  justify-content: space-between;
}

.caratula__datos{
  padding-left: 20px;
}

.caratula__datos__info{
  display: flex;
  flex-direction: column;
}

/* ------------- LISTA DE ALUMNOS ----------- */

.lista_alumnos{
  padding-top: 70px;
  padding-left: 20px;
  padding-right: 20px;
}

.alumno{
  background-color: #0277bd;
  margin: 20px 0 20px 0;
  padding: 10px;
  color: white;
  -webkit-box-shadow: 0px 0px 20px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px -9px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px -9px rgba(0,0,0,0.75);
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
  min-width: 80%;
}

.alumno:hover{
  transform: scale(1.02);
}

.alumno span{
  width: 23%;
}

/* -------------  MEDIA QUERIES ------------ */

@media (max-width: 767px) {

  .top-bar{
    height: 50px;
  }

  .top-bar img {
    height: 50px;
  }

  /* ---------  LOGIN  ----------- */

  .login{
    width: 100%;
  }

  .login-div{
    width: 100%;
    margin: 0;
  }


  .registrarse{
    margin-left: 0;
  }

  .login__buttons{
    width: 100%;
  }

  .login__buttons input{
    margin-left: 20px;
    margin-right: 20px;
  }

  /* REGISTRO */

  .registro{

    padding-top: 50px;
  }
  .registro h2{
    font-size: 20px;
    margin-left: 0;
  }

  .registro p{
    font-size: 14px;
    width: 80%;
  }

  .registro__flex{
    flex-direction: column;
  }

  .registro__button{
    margin-bottom: 20px;
  }

  /* CARATULA */

  .caratula{
    padding-top: 70px;
    background-color: #e0f2f1;
    height: calc(100vh - 70px);
  }
  
  .caratula__contenido{
    background-color: white;
    min-width: 100%;
    -webkit-box-shadow: 0px 0px 35px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 35px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 35px -9px rgba(0,0,0,0.75);
  }
  
  .caratula__header{
    padding: 10px;
    color: white;
    top: 0;
    display: flex;
    justify-content: space-between;
  }
  
  .caratula__datos{
    padding-left: 20px;
  }
  
  .caratula__datos__info{
    display: flex;
    flex-direction: column;
  }

  .familiares p{
    width: 80%;
  }
  
  .monto{
    width: 80%;
  }

  select{
    width: 100%;
  }

}



