body{
  font-family: 'Alef';
  /*padding-left: 10px;*/
  background-color: white;
  margin:0;
  padding: 0;

}

input{
  padding: 10px;
  border: none;
  border-bottom: solid 1px #0277bd;
}

.button {
  background-color: #0277bd;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
}

.button:hover {
  background-color: #004c8c;
  transition: 0.3s;
}

.top-bar{
  position: fixed;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: #0277bd;
  color: white;
  list-style-type: none;
  margin-top: 0;
  padding: 0;
  overflow: hidden;
  align-items: center;
  text-align: center;
}

.top-bar img {
  margin-top: 0;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 70px;
  width: auto;
}

/* ---------------  REGISTRO  -------------- */

.registro{
  padding-top: 70px;
  padding-left: 50px;
}

.registro h2{
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 1em;
}

.registro p{
  font-size: 14px;
  width: 25%;
}

.registro__flex{
  display: flex;
  justify-content: flex-start;
}

.registro__flex p{
  margin-bottom: 0;
  margin-right: 4em;
}

.registro__tel{
  margin-bottom: 2em;
}

.registro__user{
  margin-bottom: 1em;
}

.registro input{
  width: 100%;
}

.registro .button{
  width: 200px;
}

input:focus{
  border:none;
  border-bottom: solid 3px #0277bd;
}

/* --------------- LOGIN --------------- */


.login-div{
  height: 100vh;
  display: flex;
  align-items: center;
  background: #e0f2f1;

}
.login{
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  display: flex;
  justify-content: center;
  -webkit-box-shadow: 0px 0px 35px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 35px -9px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 35px -9px rgba(0,0,0,0.75);
}

.login__form{
  background: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__form p{
  width: 60%;
}

.login__input{
  width: 96%;
}

.login__buttons{
  margin-top: 3em;
  display: flex;
  justify-content: space-evenly;
  width: 96%;
  margin-bottom: 3em;
}

.registrarse{
  background: #009688;
}

.registrarse:hover{
  background: #00675b;
}

/* -------------  MEDIA QUERIES ------------ */

@media (max-width: 767px) {

  .top-bar{
    height: 50px;
  }

  .top-bar img {
    height: 50px;
  }

  /* ---------  LOGIN  ----------- */

  .login{
    width: 100%;
  }

  .login-div{
    width: 100%;
    margin: 0;
    padding: 0;

  }


  .registrarse{
    margin-left: 0;
  }

  .login__buttons{
    width: 100%;
  }

  /* REGISTRO */

  .registro{

    padding-top: 50px;
  }
  .registro h2{
    font-size: 20px;
    margin-left: 0;
  }

  .registro p{
    font-size: 14px;
    width: 80%;
  }

  .registro__flex{
    flex-direction: column;
  }

  .registro__button{
    margin-bottom: 20px;
  }
}



