body{
  font-family: 'Arial';
  background-color: white;
  margin:0;
  padding: 0;

}

.precaucion{
  font-size: 20px;
  color: red;
}

.puntuacion{
  color: #0277bd;
}

.resultado__container{
  max-width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.resultado__texto{
  text-align: center;
}
.atras {
  float: right;
  margin: 20px;
  font-size: 18px;
}

select {
  margin-top: 10px;
  font-size: 16px;
  width: 100%;
}

.incorrecto{
  color: red;
  margin-bottom: 20px;
  font-size: 18px;
  padding-left: 20px;
}

.correcto{
  color: #0277bd;
  margin-bottom: 20px;
  font-size: 18px;
}

.adjunto-incorrecto{
  padding-left: 0;
}


input{
  padding: 10px;
  border: none;
  border-bottom: solid 1px #0277bd;
}

.button {
  background-color: #0277bd;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  box-sizing: border-box;
  font-size: 14px;
  width: 200px;
}

.button__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button:hover {
  background-color: #004c8c;
  transition: 0.3s;
}

.top-bar{
  position: fixed;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  background-color: #0277bd;
  color: white;
  list-style-type: none;
  margin-top: 0;
  padding: 0 10px 0 10px;
  align-items: center;
  text-align: center;
  flex-basis: 30%;
}

.top-bar__unt {
  width: 30%;
}

.top-bar img {
  float: left;
  margin-top: 0;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  height: 60px;
  width: auto;
}

.top-bar .cerrar-sesion{
  margin-right: 20px;
  text-decoration: none;
  color: white;
}

.top-bar a:hover{
  color: #e0f2f1;
  transition: 0.2s;
}

.top-bar__organismos{
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 30%;
  font-size: 14px;
}

.titulo{
  width: 30%;
  cursor: pointer;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  font-weight: 700;
}

/* ---------------  REGISTRO  -------------- */

.tipoBeca{
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e0f2f1;
  padding-top: 50px;
}

.tipoBeca__card{
  padding: 20px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 600px;
  -webkit-box-shadow: 0px 0px 35px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 35px -9px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 35px -9px rgba(0,0,0,0.75);
}

.tipoBeca__card h3 {
  margin-top: 0;
}
.tipoBeca__options {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tipoBeca__radio {
  margin-bottom: 20px;
}

.registro{
  padding-top: 50px;
  padding-left: 50px;
}

.registro h2{
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 1em;
}

.registro p{
  font-size: 14px;
  width: 40%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.registro p input{
  width: 100%;
}

.registro__flex{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.registro__flex p{
  margin-bottom: 0;
  margin-right: 4em;
}

.registro__tel{
  margin-bottom: 2em;
}

.registro__user{
  margin-bottom: 1em;
}

.registro input{
  width: 100%;
}

.registro input[type="radio"]{
  width: auto;
}

.registro .button{
  width: 200px;
}

.registro__form .hijos {
  display: flex;
  justify-content: space-between;
  max-width: 120px;
}

.registro__form .vulnerabilidad {
  display: flex;
  justify-content: space-between;
  max-width: 360px;
}

input:focus{
  border:none;
  border-bottom: solid 3px #0277bd;
}

.familiares p{
  width: 50%;
}

.monto{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.solicitud__background{
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e0f2f1;
  padding-top: 50px;
}

.solicitud__text{
  background: white;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: 0px 0px 35px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 35px -9px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 35px -9px rgba(0,0,0,0.75);
}

.link{
  font-weight: 900;
  color: blue;
  cursor: pointer;
}

/* --------------- LOGIN --------------- */


.login-div{
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  background: #e0f2f1;
  background-image: url("assets/untlogo.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
  padding-top: 50px;
}
.login{
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  display: flex;
  justify-content: center;
  -webkit-box-shadow: 0px 0px 35px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 35px -9px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 35px -9px rgba(0,0,0,0.75);
}

.login__form{
  background: white;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__form p{
  width: 60%;
}

.login__input{
  width: 96%;
}

.login__buttons{
  margin-top: 3em;
  display: flex;
  justify-content: center;
  width: 60%;
  margin-bottom: 3em;
}

.registrarse{
  background: #009688;
}

.registrarse:hover{
  background: #00675b;
}

#mensaje-recordatorio{
  max-width: 25em;
  margin-top: -2.5em;
  align-self: auto;
}

#atencion{
  font-size: 0.9em;
  width: 100%;
  color: #990000;
  text-align: center;
}

#recordar{
  color: #cc0000;
  width: 100%;
  font-style: oblique;
  margin-top: -0.4em;
  text-align: center;
}

/* ---------- CARATULA ---------- */

.caratula{
  padding-top: 50px;
  background-color: #e0f2f1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  height: calc(100vh - 50px);
}

.caratula.button{
  font-size: 12px;
}

.caratula__contenido{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  min-width: 70%;
  -webkit-box-shadow: 0px 0px 35px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 35px -9px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 35px -9px rgba(0,0,0,0.75);
}

.caratula__header{
  background: #009688;
  padding: 10px;
  color: white;
  top: 0;
  display: flex;
  justify-content: space-between;
}

.caratula__container{
  display: flex;
}

.caratula__datos{
  padding-left: 20px;
  max-width: 50%;
}

.caratula__datos__info{
  display: flex;
  flex-direction: column;
}

.button_flex{
  float: right;
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

/* ------------- LISTA DE ALUMNOS ----------- */

.lista_alumnos{
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.alumno{
  background-color: #0277bd;
  margin: 20px 0 20px 0;
  padding: 10px;
  color: white;
  -webkit-box-shadow: 0px 0px 20px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px -9px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px -9px rgba(0,0,0,0.75);
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
  min-width: 80%;
}

.alumno:hover{
  transform: scale(1.02);
}

.alumno span{
  width: 23%;
}

.editar__buttons{
  margin-top: 3em;
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin-bottom: 3em;
}

.editar__p{
  font-size: 18px;
}

.editar__warning{
  padding: 20px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: 0px 0px 35px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 35px -9px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 35px -9px rgba(0,0,0,0.75);
}

h2.warning{
  color: red;
  font-size: 30px;
}

#form-busqueda{
  width: fit-content;
  display: block;
  float: right;
  margin-top: 1.9em;
}

#btn-busqueda{
  background-color: #009688;
  color: white;
  font-size: 0.8em;
  border-radius: 3px;
}

#btn-excel, #form-busqueda{
  display: inline-block;
}

#busqueda{
  font-size: 0.8em;
  border: 1px solid grey !important;
  border-radius: 3px;
}

/* ADJUNTAR ARCHIVOS */
.document-form{
  background-color: #80deea;
  max-width: 580px;
  min-width: 300px;
  padding: 10px;
}

.document-input{
  border: none;
}

.document-link{
  cursor: pointer;
}

.document-link:hover{
  text-decoration: underline;
}

.adjuntar{
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

iframe{
  width: 100%;
  height: calc(100vh - 150px);
}

/* -------------  MEDIA QUERIES ------------ */

@media (max-width: 1370px) {
  .caratula{
    height: 100%;
  }
}

@media (max-width: 767px) {

  .top-bar{
    height: 50px;
  }

  .top-bar img {
    height: 50px;
  }

  /* ---------  LOGIN  ----------- */

  .login{
    width: 100%;
  }

  .login-div{
    width: 100%;
    margin: 0;
    background-size: contain;
  }


  .registrarse{
    margin-left: 0;
  }

  .login__buttons{
    width: 100%;
  }

  .login__buttons input{
    margin-left: 20px;
    margin-right: 20px;
  }

  /* REGISTRO */

  .registro{
    padding-top: 50px;
  }
  .registro h2{
    font-size: 20px;
    margin-left: 0;
  }

  .registro p{
    font-size: 14px;
    width: 80%;
  }

  .registro__flex{
    flex-direction: column;
  }

  .registro__button{
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  /* CARATULA */

  .caratula{
    padding-top: 85px;
    background-color: #e0f2f1;
  }
  
  .caratula__contenido{
    background-color: white;
    min-width: 100%;
    -webkit-box-shadow: 0px 0px 35px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 35px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 35px -9px rgba(0,0,0,0.75);
  }
  
  .caratula__header{
    padding: 10px;
    color: white;
    top: 0;
    display: flex;
    justify-content: space-between;
  }
  
  .caratula__datos{
    padding-left: 20px;
  }
  
  .caratula__datos__info{
    display: flex;
    flex-direction: column;
  }

  .familiares p{
    width: 80%;
  }
  
  .monto{
    width: 80%;
  }

  select{
    width: 100%;
  }

  .top-bar__organismos{
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 20%;
    font-size: 7px;
  }

  .titulo{
    font-size: 20px;
    width: 50%;
  }

  .top-bar__unt {
    width: 20%;
  }

  .top-bar img {
    position: relative;
    height: 30px;
  }

  .solicitud__text{
    padding: 10px;
    text-align: center;
  }

  .solicitud__background{
    height: 100vh;
    background-color: white;
    display: block;

  }
  .editar__warning{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 20px;
    background: white;
    display: block;
  }

  h2.warning{
    color: red;
    font-size: 26px;
  }

  .editar__p{
    font-size: 12px;
  }
  .editar__buttons{
    width: auto;
  }

  .adjuntar{
    padding-left: 15px;
    padding-right: 15px;
  }

}

@media (max-width: 450px) {

  #form-busqueda{
    width: 100%;
    margin-top: 0.7em;
  }

}



